/*
	Primary Style
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #EAEAEA;
}

.burger-fa > i:first-child {
	margin-right: -3px;
}

/*
	Header
*/

header > div{
	text-align: center;
}

header > div:first-child{
	background-color: #FFF;
	box-shadow: 0px 0px 3px black;
	padding: 8px;
}

.looking-map form > div:first-child{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px;
}

.looking-map form > div:first-child input{
	background: transparent;
	border: none;
	outline: none;
	padding: 0px 6px;
	text-align: center;
	width: 130px;
}

.looking-map form > div:last-child{
	background-color: #F6F6F6;
}

/*
	Main
*/

.fonctionnement{
	background-color: #FFF;
}

.fonctionnement > div{
	display: flex;
	flex-direction: column;
}

.fonctionnement a{
	align-items: center;
	background-color: #F6F6F6;
	border-radius: 15px;
	box-shadow: 0px 6px 12px -10px black;
	color: initial;
	display: flex;
	padding-left: 30px;
	margin: 10px auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	height: 70px;
	width: 90%;
}

.fonctionnement a > span:first-child{
	background-color: #9356DC;
	border-radius: 50%;
	color: #FFF;
	position: absolute;
	left: -12px;
	height: 25px;
	line-height: 25px;
	width: 25px;
}

.fonctionnement a > span:last-child{
	display: flex;
}

.fonctionnement a > span:last-child span{
	display: block;
	margin-left: 20px;
}

/*
	Footer
*/

footer{
	background-color: #353535;
}




