:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --terciary-color: #99E2D0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
}

main.main {
  position: relative;
  margin-top: -30px;
  width: 100%;
}
main.main section {
  background-color: #EAEAEA;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

h2 {
  margin-bottom: 1em;
  font-weight: bold;
  text-transform: initial;
}

.btn-submit {
  background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  border: none;
  border-radius: 20px;
  color: #FFF;
  font-size: 0.9em;
  height: 40px;
  margin-top: 20px;
  padding: 0 20px;
}
.btn-submit:hover {
  cursor: pointer;
  animation: btn-transition 0.5s forwards ease-in-out;
}

.titre-underline {
  display: block;
  border-bottom: 3px solid var(--terciary-color);
  width: 60px;
  margin-bottom: 1em;
}

.burger-fa i {
  margin-right: -3px;
}

.logo {
  width: 40%;
}

section img {
  object-fit: cover;
}

a {
  color: initial;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.heading-img {
  height: 245px;
  width: 100%;
}
.heading-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.icon-heart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  max-width: 40px;
  width: 1.4em;
}
.icon-heart i:first-child {
  position: relative;
  cursor: pointer;
}
.icon-heart :hover {
  background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-heart .icon-heart--hover i {
  position: absolute;
  right: 0;
  opacity: 0;
  background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-heart .icon-heart--hover:hover i {
  animation: heart-animation 1.2s forwards;
}

header div {
  text-align: center;
}
header div:first-child {
  background-color: #FFF;
  box-shadow: 0px 0px 4px #000;
  max-height: 70px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.looking-map form > div:first-child {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.looking-map form > div:first-child input {
  background: none;
  border: none;
  outline: none;
  padding: 0px 6px;
  text-align: center;
  width: 150px;
  font-size: 1em;
}
.looking-map form > div:last-child {
  background-color: #F6F6F6;
  padding: 30px 0px;
}
.looking-map form > div:last-child h1 {
  font-size: 1.5em;
  padding: 0 20%;
}
.looking-map form > div:last-child p {
  font-size: 1.1em;
  margin-top: 10px;
  padding: 0 15%;
}

.heading-back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading-back a {
  left: 3%;
  position: absolute;
}

/********************
*	Page accueil	*
*********************/
.fonctionnement {
  background-color: #FFF;
}
.fonctionnement div {
  display: flex;
  flex-direction: column;
}
.fonctionnement > div {
  margin: auto;
  padding: 30px 0px;
  width: 85%;
}
.fonctionnement a {
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 15px;
  box-shadow: 0px 6px 12px -10px black;
  display: flex;
  padding-left: 30px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  height: 70px;
  width: 100%;
}
.fonctionnement a:hover {
  animation: bg-fonctionnement 0.75s forwards;
}
.fonctionnement a > span:first-child {
  background-color: var(--primary-color);
  border-radius: 50%;
  color: #FFF;
  position: absolute;
  left: -11px;
  height: 22px;
  line-height: 22px;
  width: 22px;
}
.fonctionnement a > span:last-child {
  display: flex;
}
.fonctionnement a > span:last-child span {
  display: block;
  margin-left: 20px;
}

/********************
*	Autre pages		*
*********************/
.menu {
  padding: 1em;
}
.menu .titre {
  display: flex;
  justify-content: space-between;
}
.menu .titre h1 {
  font-family: "Shrikhand", cursive;
  font-style: normal;
  letter-spacing: 1px;
}
.menu h2 {
  margin-top: 1em;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: initial;
}
.menu button {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  display: block;
  margin: auto;
}

.animation-cards .card {
  animation: opacity 1s both;
}
.animation-cards #delay-1 {
  animation-delay: 0.1s;
}
.animation-cards #delay-2 {
  animation-delay: 0.2s;
}
.animation-cards #delay-3 {
  animation-delay: 0.3s;
}
.animation-cards #delay-4 {
  animation-delay: 0.4s;
}
.animation-cards #delay-5 {
  animation-delay: 0.5s;
}
.animation-cards #delay-6 {
  animation-delay: 0.6s;
}
.animation-cards #delay-7 {
  animation-delay: 0.7s;
}
.animation-cards #delay-8 {
  animation-delay: 0.8s;
}
.animation-cards #delay-9 {
  animation-delay: 0.9s;
}
.animation-cards #delay-10 {
  animation-delay: 1s;
}

.card {
  display: flex;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  height: 70px;
  background-color: #FFF;
  justify-content: space-between;
  overflow: hidden;
}
.card .card--header {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 100%;
  transition: all 0.75s;
}
.card .card--header > span {
  display: flex;
  align-items: center;
  height: 50%;
}
.card .card--header > span:first-child {
  font-weight: bolder;
  font-size: 1.2em;
}
.card .card--header > span:last-child {
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.9em;
}
.card .card--header > span:last-child .no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .card--header > span:last-child span:last-child {
  font-size: 1.2em;
  font-weight: bold;
  min-width: 40px;
}
.card .card--animation-checked {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  max-width: 70px;
  background-color: var(--terciary-color);
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  overflow: hidden;
  transition: all 0.5s;
}
.card .card--animation-checked i {
  color: #FFF;
  font-size: 1.5em;
}
.card:hover .card--header {
  transition: all 0.5s;
}
.card:hover .card--animation-checked {
  transition: all 0.5s;
  width: 20%;
}
.card:hover .card--animation-checked i {
  animation: rotateCheck 0.5s 0.05s;
}
.card:hover .card--header {
  width: 80%;
}

.restaurant > div {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px 0px;
  width: 85%;
}
.restaurant a {
  background-color: #FFF;
  border-radius: 15px;
  box-shadow: 0px 2px 10px -7px black;
  display: block;
  height: 200px;
  margin-bottom: 20px;
  position: relative;
}
.restaurant img {
  border-radius: 15px;
  object-position: center;
  height: 100%;
  width: 100%;
}
.restaurant a > span {
  background-color: #FFF;
  border-radius: 0px 0px 15px 15px;
  bottom: 0;
  display: flex;
  height: 35%;
  padding: 10px;
  position: absolute;
  width: 100%;
}
.restaurant a > span span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.restaurant a > span span > span:first-child {
  font-weight: 900;
  margin-bottom: 3px;
}

footer {
  background-color: #353535;
  border-left: 1px solid #EAEAEA;
  color: #FFF;
}
footer > div {
  margin: auto;
  padding-bottom: 25px;
  padding-top: 10px;
  width: 80%;
}
footer img {
  margin: 10px 0px;
  height: 20px;
}
footer ul > li {
  margin: 5px 0px;
}
footer li > i {
  width: 20px;
}
footer a {
  color: #FFF;
}
footer a:hover {
  text-decoration: underline;
}

/************************
 *		RESPONSIVE		*
 ************************/
/* Reponsive Tablette */
@media screen and (min-width: 768px) {
  header div:first-child img {
    width: 30%;
  }

  .fonctionnement > div, .menu > div {
    width: 70%;
    margin: auto;
  }

  .restaurant > div {
    width: 70%;
  }

  footer > div {
    width: 70%;
  }
}
/* Reponsive Desktop */
@media screen and (min-width: 992px) {
  .heading-img {
    height: 30vh;
  }

  header div:first-child img {
    width: 10%;
  }

  main.main section {
    border-radius: initial;
  }

  .fonctionnement > div {
    width: 30%;
  }

  .menu .animation-cards {
    display: flex;
    justify-content: space-between;
  }
  .menu .animation-cards div {
    width: 30%;
  }

  .restaurant > div {
    width: 60%;
  }
  .restaurant > div > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurant > div > div a {
    width: 48%;
    height: 250px;
    margin-bottom: 4%;
  }

  footer > div {
    width: 60%;
  }
}
/************************
 *		ANIMATION		*
 ************************/
@keyframes heart-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotateCheck {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bg-fonctionnement {
  0% {
    background-color: #F6F6F6;
  }
  100% {
    background-color: #F5EDFF;
  }
}
@keyframes btn-transition {
  from {
    transform: scale(1);
    background: linear-gradient(to top, var(--primary-color), var(--secondary-color));
  }
  to {
    transform: scale(1.1);
    background: linear-gradient(to top, #863EDC, #FE5DD2);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#load-spinner {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: end-spinner 1.5s forwards;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 12px solid #fff;
  border-color: var(--terciary-color) transparent #FF79DA transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes end-spinner {
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
