/*
	Primary Style
	Primaire	 Secondaire	 Tertiaire
	#9356DC		 #FF79DA	 #99E2D0
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #EAEAEA;
}

h2{
	margin-bottom: 10px;
}

.burger-fa > i:first-child {
	margin-right: -3px;
}

.logo{
	width: 40%;
}

/*
	Header
*/

header > div{
	text-align: center;
}

header > div:first-child{
	background-color: #FFF;
	box-shadow: 0px 0px 3px black;
	padding-bottom: 10px;
	padding-top: 20px;
}

.looking-map form > div:first-child{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 10px;
}

.looking-map form > div:first-child input{
	background: none;
	border: none;
	outline: none;
	padding: 0px 6px;
	text-align: center;
	width: 130px;
}

.looking-map form > div:last-child{
	background-color: #F6F6F6;
}

.titre{
	padding: 30px 0px;
}

.titre h1{
	font-size: 1.5em;
	padding: 0 20%;
}

.titre p{
	font-size: 1.1em;
	margin-top: 10px;
	padding: 0 15%;

}

.titre input{
	background: linear-gradient(to top, #9356DC, #FF79DA);
	border: none;
	border-radius: 20px;
	color: #FFF;
	font-size: 0.9em;
	height: 40px;
	margin-top: 20px;
	padding: 0 20px;
}

/*
	Main
*/

/* Fonctionnement */
.fonctionnement{
	background-color: #FFF;
}

.fonctionnement > div{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 30px 0px;
	width: 85%;
}

.fonctionnement > div > div{
	display: flex;
	flex-direction: column;
}

.fonctionnement a{
	align-items: center;
	background-color: #F6F6F6;
	border-radius: 15px;
	box-shadow: 0px 6px 12px -10px black;
	color: initial;
	display: flex;
	padding-left: 30px;
	margin: 10px auto;
	position: relative;
	text-align: center;
	text-decoration: none;
	height: 70px;
	width: 100%;
}

.fonctionnement a > span:first-child{
	background-color: #9356DC;
	border-radius: 50%;
	color: #FFF;
	position: absolute;
	left: -11px;
	height: 22px;
	line-height: 22px;
	width: 22px;
}

.fonctionnement a > span:last-child{
	display: flex;
}

.fonctionnement a > span:last-child span{
	display: block;
	margin-left: 20px;
}


/* Restaurant */
.restaurant > div{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 30px 0px;
	width: 85%;
}

.restaurant a{
	background-color: #FFF;
	border-radius: 15px;
	box-shadow: 0px 2px 10px -7px black;
	color:  initial;
	display: block;
	height: 200px;
	margin-bottom: 20px;
	position:  relative;
	text-decoration:  none;
}

.restaurant img{
	border-radius: 15px;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.restaurant a > span{
	background-color: #FFF;
	border-radius: 0px 0px 15px 15px;
	bottom: 0;
	display: flex;
	height: 35%;
	padding: 10px;
	position: absolute;
	width: 100%;
}

.restaurant a > span > span{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.restaurant a > span > span > span:first-child{
	font-weight: bold;
}

.restaurant a > span > i{
	align-items: center;
	display: flex;
	font-size: 1.4em;
	padding-bottom: 10px;
	padding-right: 15px;
}

/*
	Footer
*/

footer{
	background-color: #353535;
	color: #FFF;
}

footer > div{
	margin: auto;
	padding-bottom: 25px;
	padding-top: 10px;
	width:  80%;
}

footer img{
	margin: 10px 0px;
	height:  20px;
	fill: #FFF;
}

footer ul > li{
	list-style: none;
	margin: 5px 0px;
}

footer li > i{
	width: 20px;
}

footer a{
	color: #FFF;
	text-decoration: none;
}








